201 BIN "triggers.dll"

301 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Extended Triggers Patch"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "patcher"
      VALUE "OriginalFilename", "PATCHER.EXE"
      VALUE "ProductName", "Extended Triggers Patch"
      VALUE "ProductVersion", "1.6"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END