1 VERSIONINFO
FILEVERSION     1,7,0,0
PRODUCTVERSION  2019,4,4,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Extended Triggers Patch Main Library"
      VALUE "FileVersion", "1.7"
      VALUE "InternalName", "triggers"
      VALUE "OriginalFilename", "TRIGGERS.DLL"
      VALUE "ProductName", "Extended Triggers Patch"
      VALUE "ProductVersion", "2019.04.04"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

STRINGTABLE
  LANGUAGE 0x09, 0x01
BEGIN
  2020 "Error: File %s.bpvar could not be loaded"
  2021 "Error: File %s.bpvar contains more variables than supported"
  2022 "Error: File %s.bpvar belongs to an incompatible version"
  3123 "Time Limit Victory"
  3124 "Score Victory"
  3125 "Starting Resources"
  3126 "Select a game lobby setting"
  3127 "Disabled"
  3128 "Not Available"
  3129 "Available"
  3130 "Researching"
  3131 "Researched"
  3132 "Select a technology state"
  3133 "Variable ID"
  3134 "Civilization ID"
  3146 "Maximum Value"
  3147 "Minimum Value"
  3148 "Game Time (seconds)"
  3149 "Game Time (years)"
  3150 "Tile Coordinate"
  3151 "Select the value to be saved to a variable"
  3152 "Standing #1"
  3153 "Standing #2"
  3154 "Dying #1"
  3155 "Dying #2"
  3156 "Walking #1"
  3157 "Walking #2"
  3158 "Attacking"
  10787 "Mode"
  10788 "Set"
  10789 "Add"
  10790 "Multiply"
  10791 "Select the variable change mode"
  10792 "Set Resource by Variable"
  10793 "Add Variable to Resource"
  10794 "Subtract Variable from Resource"
  10795 "Multiply Resource by Variable"
  10796 "Set Variable by Resource"
  10797 "Add Resource to Variable"
  10798 "Subtract Resource from Variable"
  10799 "Multiply Variable by Resource"
  54384 "None"
  54385 "Bring Object to Area"
  54386 "Bring Object to Object"
  54387 "Own Objects"
  54388 "Own Fewer Objects"
  54389 "Objects in Area"
  54390 "Destroy Object"
  54391 "Capture Object"
  54392 "Accumulate Attribute"
  54393 "Research Technology"
  54394 "Timer"
  54395 "Object Selected"
  54396 "AI Signal"
  54397 "Player Defeated"
  54398 "Object Has Target"
  54399 "Object Visible"
  54400 "Object Not Visible"
  54401 "Researching Tech"
  54402 "Units Garrisoned"
  54403 "Difficulty Level"
  54404 "Civilization"
  54405 "Chance"
  54406 "Own Fewer Foundations"
  54407 "Own Fewer Rubble"
  54408 "Room Setting"
  54409 "Trigger Active"
  54410 "Computer Player"
  54411 "Variable Value"
  54412 "Variable Value Lower Than"
  54413 "Technology State"
  57584 "None"
  57585 "Change Diplomacy"
  57586 "Research Technology"
  57587 "Send Chat"
  57588 "Play Sound"
  57589 "Tribute"
  57590 "Unlock Gate"
  57591 "Lock Gate"
  57592 "Activate Trigger"
  57593 "Deactivate Trigger"
  57594 "AI Script Goal"
  57595 "Create Object"
  57596 "Task Object"
  57597 "Declare Victory"
  57598 "Kill Object"
  57599 "Remove Object"
  57600 "Change View"
  57601 "Unload"
  57602 "Change Ownership"
  57603 "Patrol"
  57604 "Display Instructions"
  57605 "Clear Instructions"
  57606 "Freeze Unit"
  57607 "Use Advanced Buttons"
  57608 "Damage Object"
  57609 "Place Foundation"
  57610 "Change Object Name"
  57611 "Change Object HP"
  57612 "Change Object Attack"
  57613 "Stop Unit"
  57614 "Change Speed"
  57615 "Change Range"
  57616 "Change Melee Armor"
  57617 "Change Pierce Armor"
  57618 "Change Rate of Fire"
  57619 "Disable Advanced Buttons"
  57620 "Change Armor Class"
  57621 "Change Attack Class"
  57622 "Change Default Armor"
  57623 "Change Resource"
  57624 "Change Object Resource"
  57625 "Change Line of Sight"
  57626 "Change Work Rate"
  57627 "Change Hero Status"
  57628 "Change Icon ID"
  57629 "AI Script Goal Off"
  57630 "Change Variable"
  57631 "Reset All Variables"
  57632 "Change Resource by Variable"
  57633 "Save Variables to File"
  57634 "Load Variables from File"
  57635 "Guard"
  57636 "Follow"
  57637 "Scout"
  57638 "Display Parsed Instructions"
  57639 "Send Parsed Chat"
  57640 "Parse Object Name"
  57641 "Randomize Variable"
  57642 "Pick Random Value"
  57643 "Save Value to Variable"
  57644 "Create Object by Variable"
  57645 "Change Object Graphics"
END